.olHandlerBoxZoomBox{
    background-color:white;
    opacity:0.5;
    filter:alpha(opacity=50);
    border:solid 2px red;
}

.olControlOverviewMapExtentRectangle{
    border:dashed 1px red;
}

.olControlOverviewMapRectReplacement{
    border:dashed 1px red;
}

.olControlOverviewMapElement{
    padding:5px;
}

.olControlScaleLine {
    bottom: 25px !important;
}

.olControlPanPanel {
     width: 100%;
     height: 100%;
     left: 0;
     top: 0;
     z-index: auto !important;
}
.olControlPanPanel div {
    z-index: 2000;
}

.olControlPanPanel .olControlPanNorthItemInactive {
     left: 50%;
     margin-left: -9px;
     top: 2px;
     background-image:url(images/fl_hautmid.png);
     background-position:0 0;
     width: 24px;
     height: 14px;
}
.olControlPanPanel .olControlPanSouthItemInactive {
     left: 50%;
     margin-left: -9px;
     top: auto;
     bottom: 22px;
     background-image:url(images/fl_basmid.png);
     background-position:0 0;
     width: 24px;
     height: 14px;
}
.olControlPanPanel .olControlPanWestItemInactive {
     top: 50%;
     margin-top: -9px;
     left: 2px;
     background-image:url(images/fl_midG.png);
     background-position:0 0;
     width: 17px;
     height: 26px;
}
.olControlPanPanel .olControlPanEastItemInactive {
     top: 50%;
     margin-top: -9px;
     left: auto;
     right: 2px;
     background-image:url(images/fl_midD.png);
     background-position:0 0;
     width: 17px;
     height: 26px;
}
.olControlZoomPanel {
     left: auto;
     right: 23px;
     top: 8px;
}

.olControlOverviewMapElement {
    padding: 0;
    background-color: transparent;
    -moz-border-radius: 0;
}

