<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>Kaboum Server Web Application</display-name>
  <description>
    This web application encapsulates the Kaboum feature Server Servlet whose purpose is to serve
    geographic object to the kaboum applet client.
    </description>
  <filter>
    <filter-name>Compression Filter</filter-name>
    <filter-class>org.apache.jakarta.tomcat.compressionFilters.CompressionFilter</filter-class>
    <init-param>
      <param-name>compressionThreshold</param-name>
      <param-value>512</param-value>
    </init-param>
    <init-param>
      <!-- debug level, 0 for no debug, 3 for most verbose -->
      <param-name>debug</param-name>
      <param-value>0</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>Compression Filter</filter-name>
    <url-pattern>/KaboumFeatureServlet</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>KaboumFeatureServlet</servlet-name>
    <!--
    <description>
        This servlet plays the role of feature objects manager for the kaboum applet client
      </description>
      -->
    <servlet-class>org.kaboum.server.KaboumFeatureServlet</servlet-class>
    <!--
    The fully qualified name of the class used by KaboumServer to get/set features.
    This class MUST implement GeometryAccess interface.
    KaboumServer provides its own implementation based on Geotools DataStores
    -->
    <init-param>
      <param-name>KaboumGeometryAccessClass</param-name>
      <param-value>org.kaboum.server.KaboumGeometryAccess</param-value>
      <!--
      <param-value>org.kaboum.server.TestGeometryAccess</param-value>
      -->
    </init-param>
    <!--
    The path to the Kaboum Server properties file containing all kaboum parameters
    relative to geographic objects
    -->
    <init-param>
      <param-name>KaboumPropertiesFile</param-name>
      <param-value>/kaboumServer.properties</param-value>
    </init-param>
    <!-- Load this servlet at server startup time -->
    <load-on-startup>1</load-on-startup>
  </servlet>
  <!--
  <servlet>
    <servlet-name>ShuttleServletTest</servlet-name>
    <servlet-class>org.kaboum.server.ShuttleServletTest</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ShuttlePerfTest</servlet-name>
    <servlet-class>org.kaboum.server.ShuttlePerfTest</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>TestDS</servlet-name>
    <servlet-class>org.kaboum.server.TestDS</servlet-class>
  </servlet>
  -->
    <servlet-mapping>
    <servlet-name>KaboumFeatureServlet</servlet-name>
    <url-pattern>/KaboumFeatureServlet</url-pattern>
  </servlet-mapping>
  <!--
  <servlet-mapping>
    <servlet-name>ShuttleServletTest</servlet-name>
    <url-pattern>/ShuttleServletTest</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ShuttlePerfTest</servlet-name>
    <url-pattern>/ShuttlePerfTest</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>TestDS</servlet-name>
    <url-pattern>/TestDS</url-pattern>
  </servlet-mapping>
  -->
    <session-config>
    <session-timeout>
            1
        </session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>
            index.jsp
        </welcome-file>
    <welcome-file>
            index.html
        </welcome-file>
    <welcome-file>
            index.htm
        </welcome-file>
  </welcome-file-list>
</web-app>
