<!DOCTYPE html>
<html>
    <head>
        [AV2GPAGE]
        <link rel="stylesheet" type="text/css" href="styles/mapfish.css" />
        <link rel="stylesheet" type="text/css" href="scripts/resources/css/ext-all.css" />
        <link rel="stylesheet" type="text/css" href="scripts/resources/css/xtheme-gray.css" />
        
        <script type="text/javascript" src="scripts/adapter/ext/ext-base.js"></script>
        <script type="text/javascript" src="scripts/ext-all.js"></script>
        <script type="text/javascript" src="scripts/mapfish/MapFish.js"></script>          
        
        <script type="text/javascript">
            var map;
            Ext.onReady(function() {
                //MAPFISH MAP COMPONENT
                [AV2GBOUNDS]
                
                [AV2GPROJECTION]
                
                var options = {maxResolution: 'auto',maxExtent: bounds, projection: proj};
                
                map = new OpenLayers.Map('map', options);
                //Specified to stay relative to the project folder
                map.theme = 'theme/default/style.css';
                
                //List of OL tools selected
                [AV2GOLTOOLS]
                
                //Builds layers
                var layers = [];
                var mylayer;
                var myLayers = [];
                
                [AV2GLAYERS]

                [AV2GPATHTOMAPSERVER]
                [AV2GMAPFILEPATH]
                
                var url = path_to_mapserver + 'mode=map&map=' + mapfile_path;
                
                mylayer = new OpenLayers.Layer.MapServer('myGroup', 
                    url,
                    {layers: myLayers,format: "image/png"}, 
                    {isBaseLayer:false});
                layers[layers.length] = mylayer;
                var drawingLayer = new OpenLayers.Layer.Vector("Draw",{isBaseLayer:true});
                
                map.addLayer(drawingLayer);
                map.addLayers(layers);
                
                [AV2GMFTREE]
                
                [AV2GMFTOOLBAR]
                
                map.zoomToExtent(bounds);
            });
            
        </script>
    </head>
    
    <body>
        
        [AV2GTITLE]
        <div id="content">
            <div id="toolbar"></div>
            <div id="mftree"></div>
            <div id="map"></div>
        </div>
        <div class="references">
            <div class="res-block">
                <div class="res-block-inner">
                    <h3>References</h3>
                    <ul>
                        <li><a target="_blank" href="http://geoadminsuite.org">GeoAdminSuite</a></li>
                        <li><a target="_blank" href="http://mapfish.org">MapFish</a></li>
                        <li><a target="_blank" href="http://extjs.com">ExtJS</a></li>
                        <li><a target="_blank" href="http://mapserv.gis.umn.edu">Mapserver</a></li>
                        <li><a target="_blank" href="http://geotools.org">GeoTools</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>