<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
<title>
[AV2GPAGE]
</title>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link REL='STYLESHEET' HREF='geonline.css' TYPE='text/css'>
</head>
<body bgcolor="#7197BD" topmargin="2" leftmargin="3" marginheight="3" marginwidth="3">
<form name='form1'>

<table border=0 cellpadding="0" cellspacing="0">
  <tr bgcolor="black"> 
    <td colspan=3><img src="images/pix.gif" width="2" height="2"></td>
  </tr>
  <tr>
    
    <td width="2" bgcolor="black">
      <img src="images/pix.gif" width="1" height="1">
    </td>
    
    <td bgcolor="#B8CBDE" bordercolor="#FFFFFF"> 

      <table width="100%" border="0" height="100%" cellpadding="0" cellspacing="0">
        <tr bordercolor="#FFFFFF"> 
          <td align="left" valign="top" nowrap> 

            <table border="0" height="100%" cellpadding="0" cellspacing="0">
              <tr> 
                <td align="left" valign="top" height="24" nowrap class='tiny'>

[AV2GThm]

                  <div align="center" class='tiny'>

[AV2GScale]

  		  </div>
    	          <p align="center">

[AV2GLeg]

		  </p>
                </td>
              </tr>
              <tr> 
                <td> 

[AV2GRef]

                </td>
              </tr>

            </table>
          </td>
          <td width="1" bgcolor="black" rowspan=2>
            <img src="images/pix.gif" width="1" height="1">
          </td>
          
          <td align="center" valign="middle"> 

            <table width="100%" border="0" height="100%" cellpadding="0" cellspacing="0">
              <tr> 
                <td align="center" valign="middle">
                  <font face="Arial, Helvetica, sans-serif">
                  <b> 

[AV2GTitle]

                  </b>
                  </font>
                </td>
              </tr>
              <tr> 
                <td align="left" valign="middle" nowrap height="40"> &nbsp;&nbsp; 

[AV2GTool]

                </td>
              </tr>
              <tr> 
                <td align="center" valign="middle" nowrap>

[AV2GMAP]

                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
    <td width="2" bgcolor="black">
      <img src="images/pix.gif" width="1" height="1">
    </td>
  </tr>
  <tr bgcolor="black"><td colspan=3><img src="images/pix.gif" width="2" height="2"></td></tr>
</table>
   
<p class="tinygrey" align="center"><a href="#" onClick="kDebug()">...</a></p>
</form>

</body>
</html>
  
