div.layerListLegend_container
{
    /*margin-top:10px;
    margin-bottom:10px;*/
}

div.layerListLegend_container .layer_bloc
{
	background-color:#DCE5EB;
	border-top:1px solid white;
	border-left:1px solid white;
	border-right:1px solid white;	
	border-bottom: 0;
    position:relative;
  	height:35px;
    padding-bottom:8px;
}

div.LayerLegendClass 
{
	background-color:#DCE5EB;
	text-align: center;
	font-size: smaller;
}

div.bandeLegende 
{
	background-color:#DCE5EB;	
}

div.layerListLegend_container img.up
{
    position:absolute;
    left:2px;
    top:2px;
    cursor:pointer;
}

div.layerListLegend_container img.down
{
    position:absolute;
    left:2px;
    top:22px;
    cursor:pointer;
}

div.layerListLegend_container img.show
{
    position:absolute;
    left:23px;
    top:15px;
    cursor:pointer;
}

div.layerListLegend_container img.delete
{
    position:absolute;
    left:50px;
    top:15px;
    cursor:pointer;
}

div.layerListLegend_container img.info 
{
	position:absolute;
    right:3px;
    top:3px;
	cursor:pointer;
}

div.layerListLegend_container .query
{
	 cursor:pointer;
	left:35px;
	position:absolute;
	top:10px;
}


div.layerListLegend_container .title
{
	font-family:Arial,sans-serif;
	font-size:10px;
	margin-left:60px;
	margin-top:13px;
	padding-right:15px;
	position:relative;
}

div.layerListLegend_container .puce
{
    position:absolute;
    right:8px;
    top:16px;
    border:none;
}

div.layerListLegend_container .control
{
    padding-top:4px;
    padding-left:6px;
    font-family:verdana;
    font-size:10px;
    color:gray;    
    position:relative;
    height:20px;
    overflow:hidden;
    margin-left:70px;
}

div.layerListLegend_container .legend
{
    border-top:dashed 1px #ECC093;
    padding-top:15px;
    font-family:verdana;
    font-size:10px;
    width:70px;
    color:gray;    
    position:absolute;
    overflow:hidden;
    top:0px;
    left:0px;
    text-align:center;
}

div.layerListLegend_container .control_panel
{
    display:none;
    position:relative;
}



div.layerListLegend_container .opacity
{
	left:160px;
	position:absolute;
	top:26px;
	width:50px;
}

div.layerListLegend_container .barre_opacity
{
    width: 100%;
    position: absolute;
    left:3px;
    top: 4px;
}

div.layerListLegend_container .cursor
{
    cursor: pointer;
    position: absolute;
    top: -2px;
}

div.layerListLegend_container .legend_link
{    
    width:70px;    
    font-family:Verdana;
    font-size:10px;
    text-decoration:none;
}


a.legend_link:hover
{
    font-family:Verdana;
    font-size:10px;
    color:#6699AA;
    text-decoration:none;
}

div.op_text{
    font-size:8px;
	position:absolute;
	right:0;
	color:gray;
}

div.legendMapName{
	background-color:#DCE5EB;
	border:1px solid white;
	height:35px;
	padding-bottom:8px;
}
div.showLayerName{
	font-weight:bold;
    font-family:Arial,sans-serif;
	font-size:10px;
	margin-left:22px;
	margin-top:13px;
	padding-right:15px;
}

div.layerListLegendRow{
    padding-bottom:6px;
	    /*margin-left:12px;*/
}

div.layerListLegendRow span.noLegend{
    padding: 12px;
	padding-bottom: 6px;
	text-align: left;
	font-size: larger;
	display: block;
}

/* Customs styles */
.buttonresearch{
	background:#f5eceb none repeat scroll 0 0;
	border:1px solid gray;
	font-size:9px;
	padding-left:10px;
	padding-right:10px;
	padding-top:2px;
	padding-bottom:2px;
	text-align:center;
	width:40%;
	margin-left:3px;
	margin-right:3px;
	cursor:pointer;
}

.researchInput{
	height:362px;/*282px;*/
	overflow:auto;
}

.obstStyle{
	background-color:#D3D3D3;
	margin-top:10px;
}

.listitem {
	background-color:#FFF;
	border:0px;
}

.accordiontweak1{
	left:0;
	position:relative;
	right:0;
	width:261px;
}

.accordiontweak2{
	left:0;
	position:relative;
	right:0;
	width:261px;
}
 
.mbControlEditPointItemInactive{
position:relative;
	left:135px;	
	z-index:900;
}

.mbControlEditPointItemActive{
	position:relative;
	left:135px;	
	z-index:900;
}

.mbControlWfsGetFeatureItemInactive{
	position:relative;
	left:135px;	
	z-index:900;	
}

.mbControlWfsGetFeatureItemActive{
	position:relative;
	left:135px;		
	z-index:900;
}

.olControlCustoDragFeatureItemInactive{
	position:relative;
	left:135px;		
	z-index:900;
}

.olControlCustoDragFeatureItemActive{
	position:relative;
	left:135px;	
	z-index:900;	
}

.mbControlPrintItemInactive{
	position:relative;
	left:135px;
	z-index:900;
}

/* Opacity slider */

.ui-slider { width: 200px; height: 14px; position: relative; background-repeat: no-repeat; background-position: center center; }
.ui-slider-handle { position: absolute; z-index: 1; height: 14px; width: 9px; top: 0px; left: 0px; background-image: url(../images/curseur_opacite.gif);  }
.ui-slider-disabled .ui-slider-handle { opacity: 0.5; filter: alpha(opacity=50); }
.ui-slider { background-image: url(../images/barre_opacite.gif); }